.Rproj.user
.Rhistory
.RData
*.Rd
photobiology.Rproj
R/RcppExports.R
src-i386/
src-x64/
src/RcppExports.cpp
*.tex
*.bbl
*.synctex.gz
*.log
*.so
vignettes/userguide.toc
vignettes/*.pdf
vignettes/figure/
vignettes/backups/
